body {
    /* overflow: hidden; */
    overflow-x: hidden;
}

* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-family: 'Rosario', sans-serif;
    box-sizing: border-box;
}

/* .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */


.header {
    min-height: 100vh;
    width: 100%;
}

.nav {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    max-height: 100px;
    position: fixed;
    top: 0;
    z-index: 15;
    width: 100%;
}

.logo {
    flex: 0 1 197px;
    min-width: 137px;
    box-sizing: border-box;
}

.logo img {
    width: 100%;
    vertical-align: middle;
}

.menu {
    font-size: 28px;
    display: flex;
    align-items: center;
    padding-right: 40px;
    /* padding-top: 15px; */
}

.menu-link {
    padding: 10px 15px;
    text-decoration: none;
    color: #FFFCFC;
}

.header-gallery {
    margin: 135px auto 35px auto;
    display: flex;
    max-width: 1500px;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
}

.header-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 0px 15px;
}


.header-column img {
    padding-bottom: 20px;
}

.header-column img {
    width: 100%;
    max-height: 410px;
}

.header-left-column {
    animation: third-animation 3s ease-in-out 1;
    animation-fill-mode: forwards;
}

.header-right-column {
    animation: fourth-animation 3s ease-in-out 1;
    animation-fill-mode: forwards;
}

.header-cl-column {
    animation: first-animation 2s ease-in-out 1;
    animation-fill-mode: forwards;
}

.header-cr-column {
    animation-name: second-animation;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


.service {
    display: flex;
    flex: 0 1 50%;
    min-height: 100vh;
    margin-bottom: 25px;
}

.service__round {
    margin-top: 105px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
}


.service__item {
    padding: 0px 25px;
    display: flex;
    max-width: 300px;
    flex-direction: column;
    position: relative;
    text-decoration: none;
    color: #000000;
}



/* .service__item img {
    width: 300px;
} */


.service__title {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    font-style: italic;
    padding-bottom: 25px;
}

.service__background {
    background-image: url("../img/services/service-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* margin-top: 95px; */
}

.service__item-first {
    animation: service-animation-first 12s ease infinite;
    animation-fill-mode: forwards;
}



.service__item-second {
    animation: service-animation-second 12s ease infinite;
    animation-fill-mode: forwards;
}


.service__item-third {
    animation: service-animation-third 12s ease infinite;
    animation-fill-mode: forwards;
}


.service__item-fourth {
    animation: service-animation-fourth 12s ease infinite;
    animation-fill-mode: forwards;
}

.team {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s ease-out;
}


.team__title {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding: 5vh 0px;
}

.team__row {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 15px;
    min-height: 60vh;
    /* max-height: 70vh; */
    transition: all 1s ease-out;
    /* max-width: 1100px; */
}

.team__item {
    vertical-align: middle;
    flex: 0 1 20%;
    margin-right: 15px;
    min-width: 224px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-x: center; */
    border-radius: 50px;
    color: #FFFAFA;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    font-size: 40px;
    transition: all 1s ease-out;
}

.team__item:last-of-type {
    margin: 0px;
}

.team__item span {
    padding: 30px;
    background-color: rgba(163, 83, 10, 70%);
    border-radius: 0px 0px 50px 50px;
    opacity: 0%;
    transition: all 1s ease-out;
}

.team__item-first {
    background-image: url("../img/team/first.png");
}

.team__item-second {
    background-image: url("../img/team/second.png");
}

.team__item-third {
    background-image: url("../img/team/third.png");
}

.team__item-fourth {
    background-image: url("../img/team/fourth.png");
}

/* .team__item:hover {
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: color;
} */

.team__item-first:hover span {
    opacity: 100%;
}


.team__item-second:hover span {
    opacity: 100%;
}

.team__item-third:hover span {
    opacity: 100%;
}

.team__item-fourth:hover span {
    opacity: 100%;
}


.team__row:hover a {
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: color;
    transition: all 1s ease-out;
}

.team__row a:hover  {
    background-blend-mode: screen;
    transition: all 1s ease-out;
}

.footer {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* justify-content: center; */
    min-height: 100vh;
    padding: 0px 25px 0px 25px;
    /* flex: 0 0 auto; */
}



.contact {
    display: flex;
    flex: 1 0 auto;
}

.contact__content {
    padding-right: 35px;
}
.contact-row {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
}

.contact-title {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    max-width: 450px;
    text-align: center;
    margin-right: 50px;
    padding-bottom: 35px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    border: none;
}

.first-form {
    padding: 15px 15px 0px 15px;
}

.first-form input {
    width: 48.5%;
    padding: 10px 15px;
    min-width: 200px;
}

.first-form input:first-child {
    margin-right: 15px;
    margin-bottom: 15px;
}

.second-form {
    padding: 15px;
}

.second-form textarea{
    width: 100%;
    min-height: 225px;
    padding: 15px;
    resize: none;
}

.contact__map {
    display: flex;
    flex: 0 1 auto;
}

.footer__about {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-evenly;
    padding: 15px 110px 25px 110px;
    align-items: flex-end;
}

.footer-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
}


.footer-column li span {
    font-weight: 700;
}

.footer-column li {
    font-style: italic;
}

.footer__subtitle {
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
}

.footer-first-column {
    padding-top: 10px;
}

.footer__link {
    color: #000000;
    text-decoration: none;
}

.footer__link-instagram::before {
    content: "";
    background-image: url("../img/footer/instagram.svg");
    display: inline-block;
    margin-right: 3px;
    background-position-y: 2px;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__link-facebook::before {
    content: "";
    background-image: url("../img/footer/facebook.svg");
    display: inline-block;
    margin-right: 5px;
    background-position-y: 2px;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__link-twitter::before {
    content: "";
    background-image: url("../img/footer/twitter.svg");
    display: inline-block;
    margin-right: 5px;
    background-position-y: 2px;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes first-animation {

    from,
    to {
        transform: translateX(-100vw);
        opacity: 0%;
    }

    50% {
        opacity: 50%;
    }


    100% {
        transform: translateX(0px);
        opacity: 100%;
    }

}

@keyframes second-animation {

    from,
    to {
        transform: translateX(100vw);
        opacity: 0%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        transform: translateX(0px);
        opacity: 100%;
    }
}

@keyframes third-animation {

    from,
    to {
        transform: translateX(-350vw);
        opacity: 0%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        transform: translateX(0vw);
        opacity: 100%;
    }
}

@keyframes fourth-animation {

    from,
    to {
        transform: translateX(350vw);
        opacity: 0%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        transform: translateX(0px);
        opacity: 100%;
    }
}


@keyframes service-animation-first {

    from,
    to {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(100%);

    }

    50% {

        transform: translate(100%, 100%);
    }

    75% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0px);
    }
}


@keyframes service-animation-second {

    from,
    to {
        transform: translateX(0px);
    }

    25% {
        transform: translateY(-100%);

    }

    50% {
        transform: translate(100%, -100%)
    }

    75% {
        transform: translate(100%, 0px)
    }

    100% {
        transform: translateX(0px);
    }
}


@keyframes service-animation-third {

    from,
    to {
        transform: translateY(0);
    }

    25% {
        transform: translateY(100%);

    }

    50% {
        transform: translate(-100%, 100%)
    }

    75% {
        transform: translate(-100%, 0px)
    }

    100% {
        transform: translateX(0px);
    }
}


@keyframes service-animation-fourth {

    from,
    to {
        transform: translateY(0);
    }

    25% {
        transform: translateX(-100%);

    }

    50% {
        transform: translate(-100%, -100%)
    }

    75% {
        transform: translate(0px, -100%)
    }

    100% {
        transform: translateX(0px);
    }
}

/* @keyframes service-animation-first {

    from,
    to {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(300px);

    }

    50% {

        transform: translate(300px, 310px)
    }

    75% {
        transform: translateY(310px);
    }

    100% {
        transform: translateX(0px);
    }
}


@keyframes service-animation-second {

    from,
    to {
        transform: translateX(0px);
    }

    25% {
        transform: translateY(-310px);

    }

    50% {
        transform: translate(300px, -310px)
    }

    75% {
        transform: translate(300px, 0px)
    }

    100% {
        transform: translateX(0px);
    }
}


@keyframes service-animation-third {

    from,
    to {
        transform: translateY(0);
    }

    25% {
        transform: translateY(310px);

    }

    50% {
        transform: translate(-300px, 310px)
    }

    75% {
        transform: translate(-300px, 0px)
    }

    100% {
        transform: translateX(0px);
    }
}


@keyframes service-animation-fourth {

    from,
    to {
        transform: translateY(0);
    }

    25% {
        transform: translateX(-300px);

    }

    50% {
        transform: translate(-300px, -310px)
    }

    75% {
        transform: translate(0px, -310px)
    }

    100% {
        transform: translateX(0px);
    }
} */

/* Можливо трішки не правильно зрозумів ТЗ, в ТЗ було сказано якщо більше ніж 1620 px то мають бути бокові відступи, що я і зробив, хоча не впевнений що в меню вони повинні бути */
@media screen and (min-width: 1620px) {
    .wrapper {
        width: 1620px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .nav {
        max-width: 1620px
    }
}

@media screen and (max-width: 992px) {
    .nav {
        max-height: 70px;
    }
    .logo {
        flex: 0 1 140px;
        min-width: none;
    } 
    .menu-item {
        padding-bottom: 5px;
    }
    .menu-link {
        font-size: 20px;
    }

    .header-gallery {
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 100px;
        max-width: 750px;
    }

    .header-column img{
        max-height: 300px;
    }
    .header-left-column {
        order: 1;
        animation-duration: 2s;
    }

    .header-cl-column {
        order: 3;
        max-width: 45%;
        animation-duration: 3s;
    }

    .header-cr-column {
        order: 4;
        max-width: 45%;
        animation-duration: 3s;
    }
    .header-right-column {
        order: 2;
        animation-duration: 2s;
    }

    .service {
        flex-direction: column;
    }

    .service__round {
        order: 2;
        margin-top: 30px;
    }

    .service__background {
        order: 1;
    }

    .service__title {
        font-size: 25px;
    }
    .team__row {
        justify-content: space-around;
        flex-wrap: wrap;
        height: 900px;
        width: 700px;
        margin: 0 auto;
    }

    .team__row:hover a {
        background-color: rgba(0, 0, 0, 0.0);
    }

    .team__item {
        min-width: 250px;
        margin: 0px 0px 15px 0px;
        height: 45%;
    }

    .team__item span{
        font-size: 30px;
        padding: 25px;
    }

    .contact {
        order: 2;
    }

    .contact-row {
        flex-direction: column;
        align-items: center;
    }

    .contact-title {
        font-size: 28px;
        margin: 0px;
    }
    .first-form input {
        width: auto;
    }

    .contact__content {
        padding: 25px 0px;
    }

    .footer__about {
        order: 1;
        padding: 25px 0px;
    }

    .contact__map {
        margin-bottom: 35px;
    }
    @keyframes first-animation {

        from,
        to {
            transform: translateX(-100vw);
            opacity: 0%;
        }
    
        50% {
            opacity: 50%;
        }
    
    
        100% {
            transform: translateX(0px);
            opacity: 100%;
        }
    
    }
    
    @keyframes second-animation {
    
        from,
        to {
            transform: translateX(100vw);
            opacity: 0%;
        }
    
        50% {
            opacity: 50%;
        }
    
        100% {
            transform: translateX(0px);
            opacity: 100%;
        }
    }


    @keyframes third-animation {

        from,
        to {
            transform: translateX(-100vw);
            opacity: 0%;
        }
    
        50% {
            opacity: 50%;
        }
    
        100% {
            transform: translateX(0vw);
            opacity: 100%;
        }
    }
    @keyframes fourth-animation {

        from,
    to {
        transform: translateX(100vw);
        opacity: 0%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        transform: translateX(0px);
        opacity: 100%;
    }
    }
}

@media screen and (max-width: 768px) {

    /* .wrapper {
        width: 100%;
    } */
    .nav {
        min-height: none;
    }

    .logo {
        min-width: 117px
    }
    .menu-link {
        font-size: 14px;
        padding: 5px 10px;
    }

    .header-gallery {
        flex-direction: column;
    }
    .header-column {
        max-width: 300px;
    }

    .header-column img {
        width: 100%;
    }

    .header-right-column {
        order: 4;
    }

    .service__background {
        display: none;
    }

    .service__item{
        width: 235px;
    }

    .team__title {
        font-size: 30px;
    }

    .team__row {
        width: auto;
        height: auto;
        padding-bottom: 35px;
    }

    .team__item {
        min-height: 400px;
    }
    .team__item:hover span {
        opacity: 0%;
    }
    .team__item:active span {
        opacity: 100%;
    }

    .footer {
        padding: 0px 15px;
    }

    .footer__subtitle {
        font-size: 18px;
    }
    .footer__about {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 400px;
        padding: 0px;
    }

    .footer-first-column  {
        order: 3;
        margin-bottom: 25px;
    }
    .contact {
        order: 1;
    }

    .contact-title {
        font-size: 26px;
    }
    .contact__content {
        padding-top: 0px;
        order: 2;
    }
}