* {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

body {
    padding: 0px;
    margin: 0px;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.container  {
    max-width: 1400px;
    min-width: 1000px;
    margin: 0 auto;
    padding: 25px 15px 0px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #155767;
    border: 1px solid #707070;
    box-shadow: 3px 3px 5px gray;
    display: flex;
    justify-content: space-between;
}

.header-empty {
    flex: 0 1 20%;
    background-color: #fff;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    border-right: 1px solid #707070;
    box-sizing: border-box;
}

.header-nav {
    display: flex;
    flex: 0 1 60%;
    justify-content: space-between;
    padding: 5px 30px;
    box-sizing: border-box;
    align-items: center;
}

.header__item {
    display: flex;
    align-items: center;
    padding: 0px 30px;
}

.header__link {
    padding: 10px;
}

.header__item-users a:last-child {
    color: #ffffff;
    font-size: 22px;
    padding-left: 10px;
}

.header__link-users {
    display: flex;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50px;
}

.invite-button {
    display: flex;
    align-self: flex-end;
}


.invite-button a:first-child{
    color: #ffffff;
    padding: 13px 25px 10px 25px;
    background-color: #00BFFF;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid #707070;
}

.invite-button a:last-child {
    /* align-items: center; */
    background-color: #080000;
    padding: 10px 7px 3px 8.5px;
    box-sizing: border-box;
    border: 1px solid #707070;
    border-left: none;
}

.main {
    display: flex;
    border: 1px solid #707070;
    margin-top: 80px;
    min-height: 70vh;
}

.main-nav {
    padding-top: 130px;
    padding-bottom: 30px;
    border-right: 1px solid #707070;
    flex: 0 1 27%;
}

.main-menu {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
}
.main-item {
    display: flex;
    flex: 1 1 auto;
}

.main-item a {
    background-repeat: no-repeat;
    background-position-y: 17px;
    /* background-size: contain; */
    padding: 15px 0px 15px 45px;
}

.main-item:nth-child(1) a  {
    background-image: url("/html6/part1/img/icons/navigation/dashboard.svg");
}
.main-item:nth-child(2) a  {
    background-image: url("/html6/part1/img/icons/navigation/Charging-sessions.svg");
}
.main-item:nth-child(3) a  {
    background-image: url("/html6/part1/img/icons/navigation/Billing-and-Payment.svg");
}
.main-item:nth-child(4) a  {
    background-image: url("/html6/part1/img/icons/navigation/User-Management.svg");
}
.main-item:nth-child(5) a  {
    background-image: url("/html6/part1/img/icons/navigation/CPO-Registration.svg");
}
.main-item:nth-child(6) a {
    background-image: url("/html6/part1/img/icons/navigation/Reports-and-Analytics.svg");
}


.main-title {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    padding: 10px 0px 10px 58px;
}


.main-item a {
    font-size: 22px;
    flex: 1 1 auto;
    color: #000000;
    flex-wrap: wrap;
}

.main-item:nth-child(6) {
    font-weight: bold;
}


.main-content {
    flex: 1 1 73%;
}

.main-buttons {
    display: flex;
    margin: 15px 30px;
    flex: 1 1 100%;
    align-items: center;
}



.main-add a {
    padding-left: 30px;
    color: #979697;
    font-size: 22px;
    font-weight: bold;

}

.main-change {
    display: flex;
    /* justify-content: flex-end; */
    flex: 1 1 auto;
    justify-content: flex-end;
}

.main-change a {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}


.main-forms {
    margin: 0px 60px 15px 60px;
    display: flex;
    flex-direction: column;
}

.main-row {
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.main-form {
    display: flex;
    flex-direction: column;
    /* flex: 0 1 auto; */
    /* flex: 0 1 45%; */
    box-sizing: border-box;
}

.main-form-first {
    flex: 0 1 30%;
}

.main-form-second {
    flex: 0 1 60%;
}


.input-size {
    display: flex;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 16px;
    padding: 12px 12px 12px 12px;
    border: 0.5px solid #707070;
    color: #969697;
}

.arrow {
    appearance: none;
    overflow: hidden;
    background: url('/html6/part1/img/icons/arrow.svg') no-repeat right;
    background-position: 97% 50%;
}

#form-search {
    appearance: none;
    overflow: hidden;
    background: url("/html6/part1/img/icons/search.svg") no-repeat;
    background-position: 5px 10px;
    background-size: 25px;
    padding-left: 55px;
    color: #A5A5A5;
}

.main-form input {
    font-weight: 700;
    font-size: 16px;
    padding: 12px 12px 12px 12px;
    border: 0.5px solid #707070;
}


.main-row-subtitles {
    margin-top: 40px;
    display: flex;
}


.main-subtitle {
    font-size: 18px;
    font-weight: 700;
    color: #A5A5A5;
    padding-right: 3%;
    text-align: center;
    justify-content: space-between;
}


.main-row-numbers {
    display: flex;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
    background-color: rgba(214, 214, 214, 0.16);
    justify-content: space-between;
    min-height: 30px;
}

.main-numbers {
    display: flex;
    text-align: center;
    padding: 0px 15px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.edit {
    padding: 0px 30px;
    width: 34px;
    background-image: url("/html6/part1/img/icons/edit.svg");
    background-repeat: no-repeat;
    /* background-position-x: -5px; */
    background-size: 30px;
    height: 30px;
}


.signature {
    margin: 10px 0px;
    font-size: 12px;
    color: #7C7C7D;
    padding-left: 8%;
}

.main-row-pages {
    justify-content: center;
}



.main-row-pages a {
    box-sizing: border-box;
    border: 1px solid #707070;
    padding: 1px 5px;
    display: flex;
}

.main-row-pages a:nth-child(2) {
    background-color: #00BFFF;
    padding: 5px 10px;
    color: #F9F7F7;
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid #707070;
}

.main-line {
    height: 1px;
    background-color: #707070;
}

.main-characteristics {
    display: flex;
    flex: 0 1 70%;
    /* padding-left: 10px; */
}


.main-characteristics__title {
    padding-top: 15px;
    padding-bottom: 5px;
    color: #000000;
    font-weight: 700;
    font-size: 22px;
}

.main-characteristics__column {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.main-characteristics__row {
    display: flex;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
}

.main__bottom {
    display: flex;
    align-items: center;
    padding-top: 30px;
    justify-content: space-evenly;
    padding-bottom: 15px;
}

.main__url {
    display: flex;
    font-weight: 700;
    font-size: 22px;
    flex: 0 1 40%;
}


.url-title {
    padding-right: 15px;
}

.url-line{
    display: flex;
    flex: 0 1 50%;
    height: 1px;
    background-color: #000000;
    align-self: flex-end;
}